@use "@angular/material" as mat;

:host {
  @include mat.toolbar-overrides(
    (
      container-background-color: orange,
      container-text-color: red,
    )
  );
}

.mat-sidenav-container {
  height: calc(205vh - 115vh);
}

.mat-sidenav {
  width: 200px;
  background-color: white;
}
