<mat-toolbar class="test" color="primary">
  <div class="test-b">
    <img
      src="assets/logo.svg"
      [ngStyle]="{ 'width.px': 120, 'height.px': 65 }"
    />
  </div>
  <div class="test-a">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="openMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="isOpen" mode="side">
    <mat-list>
      <mat-list-item>
        <a routerLink="/Home">Page d'accueil</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/grilclothing">Vêtement de fille</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content> <router-outlet /> </mat-sidenav-content>
</mat-sidenav-container>
