<div class="cards__container">
  <em-cards
    [title]="'Vêtements fille'"
    [img]="'assets/robe-rose.jpg'"
    [backgroundColor]="'pink'"
    [routerLink]="'/girl-clothes'"
  ></em-cards>
  <em-cards
    [title]="'Vêtemets garçon'"
    [img]="'assets/t-shirt-bleu.jpg'"
    [backgroundColor]="'blue'"
    [routerLink]="'/girl-clothes'"
  ></em-cards>
  <em-cards
    [title]="'Jouets'"
    [img]="'assets/jouets.jpeg'"
    [backgroundColor]="'green'"
    [routerLink]="'/girl-clothes'"
  ></em-cards>
  <em-cards
    [title]="'Produits d hygiène'"
    [img]="'assets/couches.jpg'"
    [backgroundColor]="'purple'"
    [routerLink]="'/girl-clothes'"
  ></em-cards>
</div>
