<div class="cards__container">
  <em-cards
    [card]="{
      title: 'Vêtements fille',
      img: 'assets/robe-rose.jpg',
      backgroundColor: 'pink',
      link: '/girl-clothes'
    }"
  ></em-cards>
  <em-cards
    [card]="{
      title: 'Vêtements fille',
      img: 'assets/robe-rose.jpg',
      backgroundColor: 'pink',
      link: '/girl-clothes'
    }"
  ></em-cards>
  <em-cards
    [card]="{
      title: 'Vêtements fille',
      img: 'assets/robe-rose.jpg',
      backgroundColor: 'pink',
      link: '/girl-clothes'
    }"
  ></em-cards>
  <em-cards
    [card]="{
      title: 'Vêtements fille',
      img: 'assets/robe-rose.jpg',
      backgroundColor: 'pink',
      link: '/girl-clothes'
    }"
  ></em-cards>
  <em-cards
    [card]="{
      title: 'Vêtements fille',
      img: 'assets/robe-rose.jpg',
      backgroundColor: 'pink',
      link: '/girl-clothes'
    }"
  ></em-cards>
</div>
